{% extends 'services/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-5 mt-4">
		<li class="dropdown">
			<a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu">
            	<a class="dropdown-item" href="{% url 'pri' %}">Privacy policy</a>
                <a class="dropdown-item" href="#">Terms&Conditions</a>
                <a class="dropdown-item" href="{% url 'su' %}">Sustainability policy</a>
            </div>
        </li>
    </div>
</div>
{% endblock %}